@page
@model InterviewHelper.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Interviewee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interviewee.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interviewee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interviewee.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interviewee.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interviewee.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interviewee.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interviewee.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interviewee.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Interviewee.Id">Edit</a> |
    <a asp-page="./ListInterviewees">Back to List</a>
</div>
